<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Switchlist Example</title>
        <h:outputStylesheet library="css" name="switchlist.css"/>
    </h:head>
    <h:body>
        <h:form id="form1">
            <h:selectManyListbox id="list1" value="#{listHolder.list1}" styleClass="switchlist">
                <f:selectItems value="#{listHolder.items1}"/>
            </h:selectManyListbox>
            <h:panelGroup id="buttonGroup1" styleClass="switchlistButtons">
                <h:commandButton id="button1" value="&rarr;" actionListener="#{listHolder.move1to2}" styleClass="switchlistButton">
                    <f:ajax execute="form1:button1 form1:list1" render="form1:list1 form1:list2"/>
                </h:commandButton>
                <h:commandButton id="button2" value="&larr;" actionListener="#{listHolder.move2to1}" styleClass="switchlistButton">
                    <f:ajax execute="form1:button2 form1:list2" render="form1:list1 form1:list2"/>
                </h:commandButton>
            </h:panelGroup>
            <h:selectManyListbox id="list2" value="#{listHolder.list2}" styleClass="switchlist">
                <f:selectItems value="#{listHolder.items2}"/>
            </h:selectManyListbox>
            <br/>
            <h:commandButton value="Reset" type="submit" actionListener="#{listHolder.resetLists()}">
                <f:ajax execute="@form" render="form1"/>
            </h:commandButton>
            <h:messages/>
        </h:form>
    </h:body>
</html>
